
 body {
  background-image: url('http://dl.dropbox.com/u/10021156/NsLayout/img/white_tiles.png');
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto;
}

#narrLogo {
  margin-left:34px;
  padding : 10px;
}

#message {
	position:absolute;
	margin-left:152px;
	margin-top:24px;
	color: white;
}

nav {
	width:85%;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(19,101,53,0.6);
	border-radius:10px;
	margin-bottom:47px;

}

#logo {
	width:50%;
	margin: 0px auto;
}

#tweetList {
	list-style: none;
}

.hero-unit {
	background-color:rgba(0,0,0,0.1);
	display:inline-block;
	padding:20px;

}

.reverse {
	float:right;

}

.container-fluid {
	margin-left: auto;
	margin-right:auto;
	width:600px;
}

.head {
	display:inline-block;
	padding:10px;
	border-radius:5px;
	background-color:rgba(0,0,0,0.1);
	opacity:0.9;

}

i {
	background-position : -435px -119px !important;
}

img.pic {
	box-shadow: 6px 8px 8px #888;
	height:60px;
	width:60px;
}

.tail {
	padding:2px;
}

.userId {
	display: inline-block;
}

.created {
	font-size:14px !important;
	font-weight:bold !important;
	margin-top:-13px;
	background:white;
	display: inline-block;
	border-radius:5px;
	padding: 0px 3px;
	margin-left: 14px;
	opacity:0.9;
}

.userId {
	margin-left:10px;
}
