<html>
<head>
	<title>Twitter Feed App</title>
	<script src="/static/jquery.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/underscore-1.2.2.js" type="text/javascript"></script>
	<script src="/static/backbone/backbone.js" type="text/javascript"></script>

	<link href="/static/bootstrap.css" rel="stylesheet" type="text/css">
	

</head>
<body style="background: #c1dfed url(https://twitter.com/images/themes/theme1/bg.png) repeat-x top left;">
	<div class="twitter-feed span6" align="center">
		
	   
	    <input autocomplete="off" autofocus="true" type="text" name="q" id="q"  />
	    <input type="submit" id="button" value="Go" />
	
		<ul class="unstyled">
		</ul>
	</div>

 	<script type="text/html" id="tweet-view">
 		<li class="tweet-item">
		 	<%= created_at %> - <%= text %>
	 	</li>
    </script>

 	<script type="text/html" id="tweet-view-pic">
 		<li class="tweet-item well">
 			<img src="<%= profile_image_url %>"></img>
		 	<%= text %> - <%= created_at %>
	 	</li>
    </script>
 	<script type="text/html" id="tweet-view-two">
	    <li class="tweet">
	            <span>
	 
	                <div class="head">
	                    <img class="pic" src="<%= profile_image_url %>" />
	                    <p class="userId"><%= "@" + from_user %></p>
	                 </div>
	 
	                 <div class="tail">
	                    <p><%= text %></p>
	                    <p class="created"><%= created_at %></p>
	                 </div>
	                 <hr />
	            </span>
	   </li> 
    </script>

	<script src="/static/app.js" type="text/javascript"></script>
</body>
</html>